link(rel="shortcut icon" href="/favicon.png" type="image/x-icon")
link(rel="search" type="application/opensearchdescription+xml" href="/search.xml" title="Mindustry Schematics")

meta(property="og:site_name" content="Mindustry Schematics")

script.
  backgrounds = !{_backgrounds}
script(src="/js/dynamic_background.js")