doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  
  meta(name="viewport" content="width=device-width" intialscale="1.0")

  title Admin panel
body(style="text-align: center")
  h1 Admin Panel
  hr
  a(href="/")
    button.small Back to Home 
  a(href="/admin/schematic_changes")
    button.small Schematic Changes