doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  
  meta(name="viewport" content="width=device-width" intialscale="1.0")
body(style="text-align: center")
  h1 Admin Panel
  hr
  button.small(onclick='window.location.href="/"') Back to Home
  button.small(onclick='window.location.href="/admin/schematic_changes"') Schematic Changes