doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
body(style="text-align: center")
  h1 Admin Panel
  hr
  button.small(onclick='window.location.href="/"') Back to Home
  button.small(onclick='window.location.href="/admin/schematic_changes"') Schematic Changes