doctype html
html
  head
    include includes/head

    link(rel='stylesheet' href='/css/core.css' type='text/css')
    link(rel='stylesheet' href='/css/input_tags.css' type='text/css')
    link(rel='stylesheet' href='/css/scanning.css' type='text/css')
    link(rel='stylesheet' href='/css/schematic_form.css' type='text/css')
    
    meta(property="og:title" content="Create a Schematic")
    meta(property="og:description" content="You can add a schematic to the database by providing a name, creator, description, schematic copy text and image ")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)

    meta(name="viewport" content="width=device-width" intialscale="1.0")

    title Create schematic
  body
    include mixins/app_bar
    +app_bar("schematics")
    h1 Create a Schematic
    div#main-content
      form#onSubmitLoadingScreen.locked(action="/api/schematics/create" method="POST" encType="multipart/form-data")
        div.inputs
          label(for="name") Name: 
          input(type="text" name="name" id="name" placeholder="Name of the schematic" required)

          label(for="author") Author: 
          input(type="text" name="author" id="author" placeholder="Author of the schematic" required)
          
          label(for="description") Description:
          textarea#description(name="description" placeholder="Description of the schematic" required)

          label(for="text") Schematic:
          input#text(type="text" name="text" placeholder="Paste the schematic here" required autofocus)
          span.error This isn't a valid schematic
          label(for="tags") Tags:
          input#tags(type="text" list="tags-list")
          datalist(id="tags-list")
            each tag of tags
              option(value=tag.name)
        ul.tags


        figure#image_preview
          figcaption Schematic preview

        div.notched.btn
          button(type="submit" name="submit" value="Submit") Submit

    div#schematic-generate
      h2 Parsing Schematic...
      include includes/scanning.pug

    footer
      a(href="/next")
        button.icon_text.back
          img(src="/assets/arrow.svg")
          span Back
    script.
      const tags = !{_tags}
      const _currentTags = []
    script(src="/js/tags_input.js")
    script(src="/js/form_schematic.js")