doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/schematic_form.css' type='text/css')
    
    meta(property="og:title" content="Create a Schematic")
    meta(property="og:description" content="You can add a schematic to the database by providing a name, creator, description, schematic copy text and image ")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:site_name" content="Mindustry Schematics Database")

    meta(name="viewport" content="width=device-width" intialscale="1.0")
  body
    h1 Create a Schematic
    hr
    form#onSubmitLoadingScreen.locked(action="/schematics/create" method="POST" encType="multipart/form-data")
      div.inputs
        label(for="name") Name: 
        input(type="text" name="name" id="name" placeholder="Name of the schematic" required)

        label(for="author") Author: 
        input(type="text" name="author" id="author" placeholder="Author of the schematic" required)
        
        label(for="description") Description:
        textarea#description(name="description" placeholder="Description of the schematic" required)

        label(for="text") Schematic:
        input#text(type="text" name="text" placeholder="Paste the schematic here" required)
      
      div.notched.btn
        button.small(type="button") 
          label(for="image") Upload/Paste a Image
      
      input#image.rounded-input(type="file" name="image" accept="image/*" required)
      div#image_preview
      
      div.notched.btn
        button(type="submit" name="submit" value="Submit") Submit

    div#bottom
      div.notched.btn
        button.small(onclick='window.location.href="/schematics"') Back Schematics

    include includes/loadingScreen.pug

    script(src="/js/onSubmitLoadingScreen.js")
    script(src="/js/form_schematic.js")
    script(src="/js/create_schematic.js")