doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/schematic_form.css' type='text/css')
  body
    h1 Create a Schematic
    hr
    form(action="/schematics/create" method="POST" encType="multipart/form-data")
      input.rounded-input(type="text" name="name" id="name" placeholder="Name" required)
      br
      input.rounded-input(type="text" name="author" id="author" placeholder="Creator" required)
      br
      label(for="image_upload") Upload a Image
      input#image.rounded-input(type="file" name="image" accept="image/*" required)
      div#image_preview
      
      br
      textarea.rounded-input(type="text" name="text" id="text" placeholder="Copy Paste Text" required)
      br
      textarea.rounded-input(type="text" name="description" id="description" placeholder="Description" required)
      br
      input.rounded-input(type="submit" name="submit" value="Submit")
      br
      br
      br
    div#bottom
      button.small(onclick='window.location.href="/schematics"') Back Schematics

    script(src="/js/form_schematic.js")