doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  
  meta(property="og:title" content="Credits")
  meta(property="og:description" content="A list of all contributors will be listed here. ")
  meta(property="og:image" content="/assets/mindustry_banner.png")
  meta(property="og:type" content="website")
  meta(property="og:url" content=url)
  meta(property="og:site_name" content="Mindustry Schematics")

  meta(name="viewport" content="width=device-width" intialscale="1.0")
  title Mindustry Schematics and Tutorials
body(style="text-align: center")
  h1 Credits
  h6 Creator: 
  p Discord Name: "!!NoobMan13!!" IGN: "MochaBoom" Discord ID: "564177349990416484"
  h6 Developer:
  p Discord Name: "JeanJPNM" Discord ID: "558679691930632259"
  h6 Contributors:
  p Discord/IGN: "Kei" Discord ID: "271947902002266112"

  div#bottom
    a(href="/")
      div.notched.btn
        button.small Back to Home