doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')

  title Mindustry Schematics and Tutorials
body(style="text-align: center")
  h1 Credits
  h5 Website Created by !!NoobMan13!!(Discord Name) aka MochaBoom(IGN)