doctype html
head
  include includes/head

  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  
  meta(property="og:title" content="Mindustry Tools")
  meta(property="og:description" content="Explore a variety of Mindustry Tools here.")

  meta(property="og:image" content="/assets/mindustry_banner.png")
  meta(property="og:type" content="website")
  meta(property="og:url" content=url)

  meta(name="viewport" content="width=device-width" intialscale="1.0")
  title Mindustry Schematics and Tutorials
body(style="text-align: center")
  h1 Mindustry Schematics and Tutorials
  hr
  div.notched.btn
    button.small(onclick='window.location.href="/schematics"') Schematics
  div.notched.btn
    button.small(onclick='window.location.href="/tutorials"') Tutorials
  div.notched.btn
    button.small(onclick='window.location.href="/credits"') Credits
  div.notched.btn
    button.small(onclick='window.location.href="https://discord.gg/PnHG9xSMVP"') Discord Server
  br
  div.notched.btn
    button.small(onclick='window.location.href="https://github.com/blahblahbloopster/mindustry-client-v6/releases/latest/download/desktop.jar"')  Download Foo's AG Client
  div.notched.btn
    button.small(onclick='window.location.href="https://github.com/Anuken/Mindustry/releases/latest/download/Mindustry.jar"') Download Official Mindustry Client
