doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')

  title Mindustry Schematics and Tutorials
body(style="text-align: center")
  h1 Mindustry Schmeatics and Tutorials
  hr
  button.small(onclick='window.location.href="/schematics"') Schematics
  button.small(onclick='window.location.href="/tutorials"') Tutorials