doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
body(style="text-align: center")
  h1 Home Page
  hr
  button.small(onclick='window.location.href="/schematics"') Schematics