doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
body
  h1 Schematic Changes
  hr
  each change in changes
    - const onclick = `window.location.href="/admin/schematic_changes/${change._id}"`
    - const src = `/schematics/${change.id}/image`

    div#schematics_result
      div.change(onclick=onclick)
        div.schematic
          if change.Delete
            div.name
              h2
                span(style="color: red") DELETE
                = " " + change.Original.name
          else
            div.name
              h2
                span(style="color: green") MODIFY
                = " " + change.Original.name
          img.schematic_image(src=src)
          

  div#bottom
    button.small(onclick='window.location.href="/admin"') Back to Admin Panel
    button.small(onclick='window.location.href="/schematics"') Schematics
          
  script(src="/js/schematics.js")