doctype html
head
  link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
  link(rel='stylesheet' href='/css/schematic.css' type='text/css')
body
  div#head
    h1 [Schematic]#{schematic.name}
    hr
    p image and resouce amount goes here
    h3 by #{schematic.author}
    p Copy this text to import: #{schematic.text}


