doctype html
html
  head
    include includes/head

    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    
    meta(property="og:title" content="A library of Mindustry Tutorials")
    meta(property="og:description" content="Here you will find a variety of tutorials explaining how to play and do certain things. ")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)

    meta(name="viewport" content="width=device-width" intialscale="1.0")
  body(style="text-align: center;")
    h1 Tutorials 
    h3 Click the text to open the tutorial.
    hr
    each tutorial in tutorials
      - const onclick = `window.location.href="/tutorials/${tutorial.name}"`

      div.tutorial(onclick=onclick)
        h2 #{tutorial.title}

      br
          

    div#bottom
      div.notched.btn
        button.small(onclick='window.location.href="/"') Back to Home
