doctype html
html(lang="en")
  head
    include includes/head
    link(rel="stylesheet", href="/css/core.css")
    link(rel="stylesheet", href="/css/user.css")

    title User 
  body
    include mixins/app_bar
    +app_bar("user")
    
    if user
      main
        div.info
          h2= `Welcome back, ${user.name}`
          form(action="/user/logout" method="POST")
            button(type="submit") Logout
          
        if isMod
          a.link(href="/admin/schematic_changes")
            button.small Schematic Changes
          
        if isAdmin
          a.link(href="/admin/tokens")
            button User Tokens
        
    else
      form.login(action="/user/login" method="POST")
        input(name="token" type="password" placeholder="Enter your token here..." required)
        button(type="submit") Login
      
    script(src="/js/login.js")