doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/error.css' type='text/css')

    meta(property="og:title" content="404 Page Not Found")
    meta(property="og:description" content="No page found!")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:site_name" content="Mindustry Schematics Database")
  body
    div#message
      h1 404
      h2 page not found
      a(href="/")
        button.small Back to Home
