doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/error.css' type='text/css')
  body
    div#message
      h1 500
      h2 internal server error
      button.small(onclick='window.location.href="/"') Back to Home