doctype html
html
  head
    link(rel='stylesheet' href='/css/Mindustry.css' type='text/css')
    link(rel='stylesheet' href='/css/error.css' type='text/css')

    meta(property="og:title" content="505 Internal Server Error")
    meta(property="og:description" content="An Error Occured on our side!")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:site_name" content="Mindustry Schematics Database")
  body
    div#message
      h1 500
      h2 internal server error
      a(href="/")
        button.small Back to Home