main ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 1em;
  padding: 1em;
}
main li {
  cursor: pointer;
  border-radius: 0.5em;
  width: 50vw;
  text-align: center;
}
main li button {
  height: 100%;
  width: 100%;
  padding: 1em;
}
@media screen and (max-width: 600px) {
  main li {
    width: 80vw;
  }
}
