ul.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  list-style-type: none;
  gap: 0.5em;
  padding: 0 20%;
  color: white;
}
ul.tags li {
  display: inline-block;
  --color: #888888;
  border: none;
  background-color: var(--color);
  border-radius: 5px;
  max-width: min-content;
  white-space: nowrap;
}
ul.tags li .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3em;
  height: 100%;
  width: 100%;
}
ul.tags li img {
  height: 0.8em;
  object-fit: contain;
  margin-left: 0.5em;
  cursor: pointer;
}
