@font-face {
    font-family: 'Mindustry';
    src: url('../fonts/Mindustry.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fly-in-out {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 30px;
    opacity: 1;
  }
  70% {
    top: 30px;
    opacity: 1;
  }
  100% {
    top: 30px;
    opacity: 0;
  }
}
*{
  box-sizing: border-box;
  font-family: 'Mindustry';
}
body {
  background-color: #222222;
  color: white;
  padding-bottom: 5em;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'Mindustry';
  color: #FFD37F;
}

h2 {
  font-family: 'Mindustry';
  color: white;
}

button.icon {
  cursor: pointer;
  padding: 4px;
  text-decoration: none;
  background-color: #222222;
  border: #222222 solid 4px;
}

button.icon img{
  width: 24px;
  height: 24px;
}

button.small {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: #888888 solid 4px;
  background-color: black;
  cursor: pointer;
}

button {
  font-family: 'Mindustry';
  font-size: 16px;
  color: white;
  transition: border 0.2s;
}

button:hover {
  border-color: #FFD37F;
}

button:focus {
  outline: none;
}

#schematics_search {
  color: white;
  background-color: #222222;
  background-image: url('../assets/search_icon.png');
  background-position: 5px 0px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border: none;
  padding-left: 30px;
  padding-bottom: 5px;
  border-bottom: 5px solid #FFD37F;
}

#schematics_search:focus {
  outline: none;
}

#schematics_result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.schematic {
  color: white;
  margin: 5px;
  font-style: thin;
  border-style: solid;
  border-width: 3px;
  border-color: #454545;
  transition: border 0.2s;
}

.schematic img:after {
  position: relative;
  top: 0px;
}

.schematic .name{
  position: relative;
  top: 0px;
  width: 166px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(40, 40, 40, 100)
}

.schematic h2{
  font-size: 10px;
  font-style: thin;
}

.schematic:hover {
  border-color: #FFD37F;
}

hr {
  background: #FFD37F;
  padding: 2px;
  border: none;
  margin: 15px;
}

#bottom {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#copied_popup {
  --notchSize: 0.5em;
  --size: calc(var(--notchSize) / 2);
  position: fixed;
  right: 0;
  align-items: center;
  background-color: #888888;
  animation-name: fly-in-out;
  animation-duration: 3s;
  padding: var(--size) 0 var(--size) var(--size);
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      100% 0%, 
      100% 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}

#copied_popup div{
  --internalNotch: calc(var(--notchSize) / 1.5);
  display: flex;
  align-items: center;
  background-color: rgb(61, 61, 61);
  padding: 5px;
  clip-path: 
    polygon(
      0% var(--internalNotch), 
      var(--internalNotch) 0%, 
      100% 0%,
      100% 100%, 
      var(--internalNotch) 100%, 
      0% calc(100% - var(--internalNotch))
    );
}
#copied_popup img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.schematic_image {
  height: 166px;
  width: 166px;

  object-fit: contain;
  object-position: 50% 50%;
}
.notched {
  --notchSize: 0.5em;
  background-color: #888888;
  padding: calc(var(--notchSize) / 2);
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%, 
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
}
div.notched{
  display: inline-block;
}
.notched.btn:hover{
  background-color: #FFD37F;
}
.notched > *:first-child{
  background-color: black;
  --internalNotch: calc(var(--notchSize) / 1.5);
  clip-path: 
    polygon(
      0% var(--internalNotch), 
      var(--internalNotch) 0%, 
      calc(100% - var(--internalNotch)) 0%, 
      100% var(--internalNotch), 
      100% calc(100% - var(--internalNotch)), 
      calc(100% - var(--internalNotch)) 100%, 
      var(--internalNotch) 100%, 
      0% calc(100% - var(--internalNotch))
    );
}
.notched > button.small{
  border: none;
}

div.tutorial{
  cursor: pointer;
}