body {
  color: white;
}
div.changes {
  padding: 2em;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}
div.changes a {
  text-decoration: none;
}
.title {
  text-align: center;
  margin: 1em 0 0 0;
}
.schematic h2 {
  backdrop-filter: blur(1em) brightness(0.7);
  margin: 0;
  padding: 0.8em 0;
}
