.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* width: max-content; */
  gap: 1em;
  max-width: 100%;
}
.tag {
  display: inline-block;
  --color: #888888;
  border: none;
  background-color: var(--color);
  border-radius: 5px;
  max-width: min-content;
  white-space: nowrap;
}

.tag .layer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3em;
  height: 100%;
  width: 100%;
}
