doctype html
html(lang="en")
  head
    include ../includes/head

    link(rel="stylesheet", href="/next/css/core.css")
    link(rel="stylesheet", href="/next/css/credits.css")

    meta(property="og:title" content="Credits")
    meta(property="og:description" content="A list of all contributors will be listed here. ")
    meta(property="og:image" content="/assets/mindustry_banner.png")
    meta(property="og:type" content="website")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Info
  body
    include ../mixins/app_bar
    include ../mixins/notched_button
    +app_bar("info")
    mixin person(name)
      button.person #{name}
      div.container.popup
        div.person.popup
          block
    main
      article
        h1 Credits
        section
          h3 Creator
          ul
            li
              +person("MochaBoom")
                ul
                  li IGN: "MochaBoom"
                  li Discord Name: "!!NoobMan13!!"
                  li Discord ID: "564177349990416484"
        section 
          h3 Developer
          ul
            li
              +person("JeanJPNM")
                ul
                  li Discord Name: "JeanJPNM"
                  li Discord ID: "558679691930632259"
        section
          h3 Moderator/Admin
          ul
            li
              +person("The Lil' Leo")
                ul
                  li Discord/IGN: "The Lil' Leo"
                  li Discord ID: "751519627233722378"
        section
          h3 Contributor
          ul
            li
              +person("Kei")
                ul
                  li Discord/IGN: "Kei"
                  li Discord ID: "271947902002266112"
    footer
      a(href="/next/info")
        button.icon_text.back
          img(src="/assets/arrow.svg")
          span Back