doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/next/css/core.css")
    link(rel="stylesheet", href="/next/css/help.css")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Help
  body
    include ../mixins/app_bar
    +app_bar("help")
    main
      ul
        each tutorial of tutorials 
          li
            a(href=`/next/help/${tutorial[0]}`)
              button #{tutorial[1].title}