doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/next/css/core.css")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Help
  body
    include ../mixins/app_bar
    +app_bar("help")