doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/next/css/core.css")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mindustry Schematics
  body
    nav
      ul
        li Schematics
        li Downloads
        li Help 
        li Info
    div.search
      form.search(action="/schematics" method="GET")
        input#schematics_search(type="text" placeholder="Search for schematics..." name="query"   value=query autofocus)
        div.controls
          button(type="submit"): img(src="/assets/check-mark.svg")
          a(href="/schematics")
            button(type="button"): img(src="/assets/cross-mark.svg")
