.scan {
  width: 100%;
  object-fit: contain;
  animation: scan 1s ease-in-out 0s infinite alternate;
  border-radius: 5%;
}
#borders {
  fill: var(--primary);
}
#text {
  fill: var(--primary-light);
}
#scanner {
  fill: var(--primary-dark);
  animation: scanner 2s ease-in-out 0s infinite alternate;
}
@keyframes scan {
  0% {
    background-color: rgba(255, 187, 0, 0.5);
  }
  100% {
    background-color: rgba(255, 187, 0, 0.1);
  }
}
@keyframes scanner {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(77px);
  }
}
