body {
  color: white;
}
p {
  word-break: break-all;
}
.mode,
.title,
.reason {
  text-align: center;
}
.schematic {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas:
    'image title'
    'image author'
    'image description'
    'image tags'
    'image actions';
  gap: 1em 2em;
  align-items: center;
}
.preview {
  width: 100%;
  grid-area: image;
  border-radius: 1em;
}
.name {
  grid-area: title;
}
.creator {
  grid-area: author;
}
.description {
  grid-area: description;
}
.modify .changedTags {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: tags;
}
.modify .tags {
  width: 100%;
}
.delete .tags {
  grid-area: tags;
}
.actions {
  grid-area: actions;
  display: flex;
  gap: 1em;
}
.original {
  position: relative;
}
.original::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.1);
  z-index: 1;
}
.changed {
  position: relative;
}
.changed::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 255, 13, 0.1);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .schematic {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content min-content min-content;
    grid-template-areas:
      'title'
      'author'
      'image '
      'description'
      'tags'
      'actions';
    gap: 1em 2em;
    align-items: center;
    justify-items: center;
  }
  .preview {
    width: 70vw;
  }
  .modify .changedTags {
    width: 100%;
  }
  .tags {
    justify-content: center;
  }
  h1.name {
    font-size: 1.2em;
  }
  h3.creator {
    font-size: 0.8em;
  }
  .title {
    font-size: 1.4em;
  }
  .reason {
    font-size: 1.1em;
  }
}
