body {
  color: white;
}
p {
  word-break: break-all;
}
.mode,
.title,
.reason {
  text-align: center;
}
.schematic {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content min-content min-content min-content min-content;
  grid-template-areas:
    'image title'
    'image author'
    'image description'
    'image tags'
    'image actions';
  gap: 1em 2em;
  align-items: center;
}
.preview {
  width: 100%;
  grid-area: image;
  border-radius: 1em;
}
.name {
  grid-area: title;
}
.creator {
  grid-area: author;
}
.description {
  grid-area: description;
}
.modify .changedTags {
  grid-area: tags;
}
.modify .tags {
  width: 100%;
}
.delete .tags {
  grid-area: tags;
}
.actions {
  grid-area: actions;
  display: flex;
  gap: 1em;
}
.original {
  position: relative;
}
.original::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: 1;
}
.changed {
  position: relative;
}
.changed::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 255, 13, 0.2);
  z-index: 1;
}
