body {
  padding-bottom: 2em;
}
div.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
h3.info {
  text-align: center;
  margin: 2em 0 0.5em 0;
}
form {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1em;
  padding: 1em;
  width: 50%;
}
form input {
  color: white;
  background-color: var(--surface);
  border: 2px solid #808080;
  padding: 0.5em;
  border-radius: 0.5rem;
}
input#schematics_search {
  background-image: url('/assets/search-icon.svg');
  background-position: 0.6em 0.4em;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  padding-left: 3em;
}
input#tags {
  grid-column: 1 / 3;
}
div.controls {
  display: flex;
  align-items: center;
  border: 2px solid #808080;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--surface);
}
div.controls button {
  border-radius: 0;
  border: none;
  height: 2em;
  width: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
div.controls button:hover {
  background-color: #ffffff80;
}
div.controls img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
ul#schematics_result {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.schematic {
  color: white;
  border: 3px solid #808080;
  display: flex;
  flex-direction: column;
  width: 172px;
  justify-content: space-between;
  border-radius: 0.5em;
  overflow: hidden;
}

.schematic .name {
  position: relative;
  top: 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(40, 40, 40, 0.5);
}

.schematic h2 {
  font-size: 10px;
  font-style: thin;
}

li.schematic div.view {
  position: relative;
  height: 166px;
  width: 166px;
}
li.schematic div.view > * {
  position: absolute;
  top: 0;
  left: 0;
}
li.schematic div.view div.name {
  z-index: 2;
  word-wrap: normal;
  width: 100%;
  max-width: 100%;
  padding: 0 5px;
}
li.schematic div.view div.schematic_image_container {
  z-index: 1;
}
div.tools {
  display: flex;
  background-color: var(--surface);
}
div.tools > * {
  flex-grow: 1;
}

.schematic_image {
  height: 166px;
  width: 166px;

  object-fit: contain;
  object-position: 50% 50%;
}
.schematic h2 {
  margin: 0.8em 0;
  text-align: center;
}
button.icon_text.right img {
  transform: scaleX(-1);
}
