mixin app_bar(page)
  nav
    ul
      if page == "admin"
        li(class="selected")
          a(href="/admin") Admin Panel
      li(class=`${page=='schematics' ? 'selected': ''}`)
        a(href="/next") Schematics
      li(class=`${page=='downloads' ? 'selected': ''}`)
        a(href="/downloads") Downloads
      li(class=`${page=='help' ? 'selected': ''}`)
        a(href="/help") Help
      li(class=`${page=='info' ? 'selected': ''}`)
        a(href="/info") Info
    button.icon.menu
      img(src="/assets/menu.svg")
    block