@font-face {
  font-family: 'Mindustry';
  src: url('../fonts/Mindustry_min.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

:root {
  --primary: hsl(44, 100%, 60%);
  --primary-light: hsl(44, 100%, 70%);
  --primary-dark: hsl(44, 100%, 50%);
  --on-primary: hsl(0, 0%, 0%);
  --background: hsl(0, 0%, 10%);
  --on-background: hsl(0, 0%, 100%);
  --surface: hsl(0, 0%, 20%);
  --on-surface: hsl(0, 0%, 100%);
  --error: hsl(0, 100%, 31%);
  --on-error: hsl(0, 0%, 100%);
  --highlight-background: hsl(0, 0%, 30%);
  --highlight-surface: hsl(0, 0%, 40%);
  --highlight-error: hsl(0, 100%, 40%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mindustry';
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  position: relative;
  min-height: 100vh;
  color: white;
  background-color: var(--background);
  scroll-behavior: smooth;
  --temp-image: url('/assets/backgrounds/Jaggard_1.png');
  --solid-image: url('/assets/backgrounds/Jaggard_1.png');
  --temp-opacity: 0;
}
html::before,
html::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  filter: brightness(0.3);
  padding: 0;
}
html::before {
  background-image: var(--temp-image);
  z-index: -1;
  opacity: var(--temp-opacity);
  transition: opacity 0.5s ease;
}
html::after {
  background-image: var(--solid-image);
  z-index: -2;
}

button {
  border: 2px solid #808080;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--surface);
  color: var(--on-surface);
  cursor: pointer;
}
@keyframes fly-in-out {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 6em;
    opacity: 1;
  }
  70% {
    top: 6em;
    opacity: 1;
  }
  100% {
    top: 6em;
    opacity: 0;
  }
}

#copied_popup {
  position: fixed;
  right: 0;
  align-items: center;
  background-color: var(--surface);
  color: var(--on-surface);
  animation-name: fly-in-out;
  animation-duration: 3s;
  padding: 1rem;
  border-right: none;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0px 0px 0.6em black;
  display: flex;
  align-items: center;
  z-index: 9;
}

#copied_popup img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  object-fit: contain;
}

input,
textarea {
  outline: none;
  resize: vertical;
  color: white;
  background-color: var(--surface);
  border: 2px solid #808080;
  padding: 0.5em;
  border-radius: 0.5rem;
}
textarea {
  height: 100px;
}

textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  @keyframes fly-in-out {
    0% {
      top: 0px;
      opacity: 0;
    }
    50% {
      top: 5em;
      opacity: 1;
    }
    70% {
      top: 5em;
      opacity: 1;
    }
    100% {
      top: 5em;
      opacity: 0;
    }
  }
  #copied_popup {
    width: 100%;
    border-radius: 0 0 0.5em 0.5em;
  }
}
